.answer {
    padding: 10px 20px;
    /*margin: 10px;*/
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 2px solid #333;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: all 0.2s;
    align-items: center;
    text-align: left;
}

/* Hover effect */
.answer:hover {
    background-color: #238f19; /* change background color */
    color: white;           /* change text color */
    transform: scale(0.95); /* shrink slightly */
    border-color: #000;     /* optional border color change */
}

/* Styles when button is clicked/selected */
.answer.selected {
    background-color: #333;
    color: white;
    transform: scale(0.95); /* slight shrink effect */
    border-color: #000;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 500px;
}

p.question {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin-left: 500px;
    padding: 10px 20px;
    /*margin: 10px;*/
    width: fit-content;
    border-radius: 8px;
    border: 2px solid #33333377;
    background-color: #9be96fa1;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 600px;
    font-size: 1.25em;
}

#finish {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    font-size: 2em;
    margin-left: 700px;
}

#finish:hover {
    background-color: #8ee447; /* change background color */
    color: white;           /* change text color */
    transform: scale(0.95); /* shrink slightly */
    border-color: #000;     /* optional border color change */
}

h1 {
  font-size: 4em;
  color: #0a3002d2;
  background-color: rgba(226, 226, 226, 0.274);
  font-family: Arial, Helvetica, sans-serif;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: fit-content;
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  margin-left: 600px;
}

h2 {
  font-size: 1.5em;
  color: #295802d2;
  background-color: rgba(226, 226, 226, 0.274);
  font-family: Arial, Helvetica, sans-serif;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: fit-content;
  padding: 10px;
  text-align: center;
  margin-left: 600px;
  margin-bottom: 50px;
}

body {
    background: linear-gradient(to bottom, #7dd455, #e0c3fc);
    background-attachment: fixed; /* keeps gradient in place */
}

#finalResult {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    font-size: 2em;
    margin-top: 50px;
    margin-left: 300px;
}